:root {
  --primary-color: #00d4ff;
  --alternate-color: #f1f3f9;
  --success-color: #00ffab;
  --dark-color: #1f1f1f;
  --black-color: #000000;
  --white-color: #FFFFFF;
  --blue-color: blue;
  --light-grey: #cdcdcd;

}

body {
  min-height: 100vh;
}



h1, h2, h3 {
  font-weight: bold;
}

h5 {
  line-height: .8em;
}

li.active {
  font-weight: bolder;
  color: var(--success-color);
}

li.completed {
  font-style: italic;
  color: var(--light-grey);
}
.navbar-inner {
  background: transparent;
}

.mr-10 {
  margin-right: 10px;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
  background: none !important;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}



/* CUSTOMIZE THE MODAL
-------------------------------------------------- */

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1002;
}

.modal-main {
  position: fixed;
  background-color: var(--dark-color);
  height: auto;
  min-width: 300px;
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 6;
  opacity: 1;
}

.modal-main .closeBtn {
  position: absolute;
  right: 5px;
  top: 0px;
  font-size: 1.2em;
  padding: 5px;
  cursor: pointer;
  color: var(--alternate-color);
}

.modal-bkgd {
  background-color: var(--black-color);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.90;
}

/* NAVIGATION */

button.nav-link {
  background: none!important;
  border: none;
  // padding: 0!important;
  /*optional*/
  font-family: arial, sans-serif;
  /*input has OS specific font-family*/
  color: #069;
  cursor: pointer;
}

div.nav-link:hover {
  cursor: pointer;
}


